---
layout: page
---

{{ content }}

<main>
  <div class="cluster cluster--index">
    {% for question in site.solutions%}
    <section class="home">
      <header class="home__header">
        <a href="{{question.url}}" aria-label="Signal 00. Start here">
          {{question.pg_count}}.{{question.title}}
        </a>
      </header>
    </section>
    {% endfor %}
  </div>
</main>

<!-- for styling -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const sections = document.querySelectorAll('.cluster--index .home');

    sections.forEach(section => {
        section.addEventListener('mouseover', () => {
            sections.forEach(s => {
                if (s !== section) {
                    s.classList.add('dimmed');
                }
            });
        });

        section.addEventListener('mouseout', () => {
            sections.forEach(s => s.classList.remove('dimmed'));
        });
    });
});
</script>